<% content_for :title, @user.longname %>

<div class="user-wrapper cols">
  <div class="user-details">
    <%= render partial: 'user_details' %>
  </div>

  <div class="user-organisations">
    <%= render partial: 'user_organisations' %>
  </div>
</div>

<br>

<div class="additionals-links center">
  <% if current_user.admin? %>
    <%= link_to "&larr;".html_safe+t('user.back_to_list'),
      company_users_path(current_company) %>
  <% end %>
</div>

