<%= link_to t('user.agendas_back'), user_agendas_path(@cabinet), class: "btn--tiny--default" %>

<div class="week">
  <%= calendar @date_ref,
      @agenda.step,
      @events,
      @agenda.start_hour,
      @agenda.end_hour,
      @agenda %>
</div>
