.notification-stack{
  position: relative;
  .bell{

  }
  .number-bell{
    position: absolute;
    top: 0.2em;
    right: 0;
    @include circle(1.4em, $alert);
    text-align: center;
    color: $white;
    font-size: 0.8em;
  }
}

a.red-icon{
  color: $alert;
  &:hover{
    color: $alert;
  }
}

a.black-icon{
  color: $black;
  &:hover{
    color: $black;
  }
}
