// Width breaks for media queries

$small-width: 680px;
$medium-width: 1090px;
$large-width: 1600px;

////////////////////////////////////////
// Fonts variables /////////////////////
////////////////////////////////////////

$number-font: "georgia";
