time{
  display: block;
  width: 150px;
  margin: 0 auto;
  background: $white;
  padding: 0;
  border: 1px solid lighten($black, 50%);
  @include border-radius();
  margin-bottom: 0.5em;
  em, strong, span{
    display: block;
  }
  em{
    padding: 5px;
    background: $red;
    color: find-text-color($red);
    font-style: normal;
    font-size: 1.5em;
    font-variant: small-caps;
    border-bottom: 2px solid darken($red, 20%);
  }
  strong{
    font-size: 3em;
    margin: 0;
    padding: 0;
    line-height: 1em;
  }
  span{
    margin: 0;
    padding: 0;
    color: $red;
  }
  cite{
    display: block;
    font-style: normal;
    font-size: 0.8em;
    background: darken($red, 20%);
    color: find-text-color(darken($red, 20%));
  }
}
